.container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.svg {
    transform: rotate(-90deg);
}

.progressCircle {
    transition: stroke-dashoffset 0.5s ease-out;
}

.percentageText {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: var(--gray-800);
}